.icon {
    width: 100%;
    max-width: 1440px;
    margin: 200px auto 0 auto;
    color: #9333EA;
    font-size: 32px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.sorry {
    text-align: center;
    margin-top: 192px;
    color: #cbd5e0;
    font-size: 30px;
}

.section {
    margin-bottom: 80px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media(min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 56px;
    }
}

.link {
    text-decoration: none;
}