.header {
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgb(189, 188, 188);
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 380px){
        flex-direction: column;
        gap: 20px;
    }
}

.linksContainer{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.linkLog {
    text-decoration: none;
    color: black;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.linkLog:hover {
    color: #4C1D95;
}

.linkSign {
    text-decoration: none;
    color: white;
    background-color: #6B46C1;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.linkSign:hover {
    background-color: #553C9A;
}